@import url('https://fonts.googleapis.com/css2?family=Sarabun:wght@400;500;600;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

.tab-button.active {
    border-color: #3b82f6;
    color: #3b82f6;
    background-color: #eff6ff;
}